/Wirings/Connect_MiniAmp_to_ESP/Connect_MiniAmp_to_ESP.kicad_pcb
/Wirings/Connect_MiniAmp_to_ESP/Connect_MiniAmp_to_ESP.kicad_prl
/Wirings/Connect_MiniAmp_to_ESP/Connect_MiniAmp_to_ESP.kicad_pro
/Wirings/Connect_MiniAmp_to_ESP/Connect_MiniAmp_to_ESP.kicad_sch
/Wirings/Connect_MiniAmp_to_ESP/Connect_MiniAmp_to_ESP-backups
/.venv